
h1, h2, h3, h4, h5 {
    font-weight: 700!important;
    font-family: 'Nunito', sans-serif!important;
}

div, p, span, ul, li, strong, u {
    font-weight: 100!important;
    font-family: 'Nunito', sans-serif!important;
}

a {
    font-weight: 400!important;
    font-family: 'Nunito', sans-serif!important;
}

b {
    font-weight: 700!important;
    font-family: 'Nunito', sans-serif!important;
}
