.create-container {
    margin: 40px 0 40px 60px;
    position: fixed;
    bottom: 0;
    z-index: 100;

    @media (max-width: 768px) {
        padding: 15px 20px;
        margin: 20px 0 5px 25px;
    }

    div {
        display: flex;
        border: none;
        color: #fff;
        background-color: purple;
        border-radius: 5px;
        padding: 20px 30px;
        cursor: pointer;

        @media (max-width: 768px) {
            padding: 15px 20px;
        }

        span {
            margin-right: 8px;
            font-weight: 600!important;

            @media (max-width: 768px) {
                display: none;
            }
        }

        i {
            margin: 0!important;
            font-size: 16px;
        }
    } 
}
