nav {
    display: flex !important;
    justify-content: flex-end;
    margin: 20px 20px;
    z-index: 100;

    @media (max-width: 768px) {
        margin: 20px 10px 20px 20px;
    }


    &.fixed {
        position: fixed; 
        right: 0; 
        margin: 40px;

        @media (max-width: 768px) {
            margin: 30px 10px 10px 10px;
        }

    }
    
    a {
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #6435c9;
        color: #000;
        cursor: pointer;
        margin: 0 15px;
        padding: 8px 15px;
        transition: .3s all;

        @media (max-width: 768px) {
            font-size: 12px;
            padding: 4px 7px;
            margin: 0 7px;
        }

        &:hover {
            background: #6435c9;
            color: #fff;
        }

        
    }
}